@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap" rel="stylesheet');


:root {
  --primary-bg: #cb066f;
  --secondary-bg: #ee0a0a;
  --primary-text-color: #980101;
  --secondary-text-color: #ee0083;
  --border-radius: 8px;
  --speed: 500ms;
}

.NavBar {
  text-align: center;
}

.hamburger-icon {
  display: flex; /* Hide the hamburger icon on larger screens */
}

.menu-trigger {
  /* Adjust top and right values to position the icon */
  position: absolute;
  top: 20px;
  right: 20px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.dropdown-menu {
 background-color: #ffffff !important; 
  position: absolute;
  top: 100px;
  right: 20px;
  border-radius: var(--border-radius);
  padding: 10px 20px;
  width: 320px;
  height: 250px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: var(--speed) ease;
}

.dropdown-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: var(--speed) ease;
}

.dropdownmenu::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 20px;
  height: 20px;
  width: 20px;
  background: var(--secondary-bg);
  transform: rotate(45deg);
}

h3 {
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 20px 0;
  font-weight: 500;
  color: var(--primary-text-color);
  line-height: 1.2rem;
}

h3 span {
  font-size: 14px;
  color: var(--secondary-text-color);
  font-weight: 400;
}

.dropdown-menu ul li {
  padding: 10px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.993);
}

.dropdown-menu ul li:hover a {
  color: rgb(179, 129, 185);
  cursor: pointer;
}

.dropdown-menu ul li:hover img {
  opacity: 1;
  cursor: pointer;
}

.dropdownItem {
  display: flex;
  margin: 10px auto;
}

.dropdownItem img {
  max-width: 20px;
  margin-right: 10px;
  transition: var(--speed);
}

.dropdownItem a {
  max-width: 100px;
  margin-left: 10px;
  transition: var(--speed);
}

@media (max-width: 767px) {
  .hamburger-icon {
    display: block; /* Display the hamburger icon on smaller screens */
  }

  .menu-container ul {
    display: none; /* Hide the navigation links on smaller screens by default */
  }

  .menu-container.active ul {
    display: block; /* Show the navigation links as a vertical list when the menu is open */
  }
}



.meatnav {
  background-color: #820e0e;
}

.font-dancing-script {
  font-family: 'dancing script', cursive;
}

.heading {
  font-size: 3rem;
  font-family: 'Great Vibes', cursive;
}

.text-4x1 {
  font-size: 6rem;
  font-family: 'Cookie', cursive;
  
}

.destext{
  font-size: 6rem;
  font-family: 'Nanum Myeongjo', serif;
  
}

.summary {
  font-size: 1.5rem;
  font-family: 'Great Vibes', cursive;
}

.theText{
  font-size: 4.5rem;
  font-family: 'Great Vibes', cursive;
}


section {
  min-height: 100vh;
}

.homebg{
  background-image: url('./background/food.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.recbg{
  background-image: url('./background/recipies.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.dropdown-menu {
  background-color: #08765c;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown-menu-meat {
  background-color: #9e3636;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown-menu-kosher {
  background-color: #3c35bf;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown-item {
  margin-bottom: 8px;
}

.meat {
  background-image: url('./background/meatbg.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.Meatecbg{
  background-image: url('./background/meatrecipies.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.koshernav {
  background-color: #0f4896;
}

.kosher{
  background-image: url('./background/kosherbg.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.kosherRecipies{
  background-image: url('./background/kosherrecipies.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.glutenfreesaltynav{
  background-color: #7e620c;
}

.dropdown-menu-glutenfreesalty {
  background-color: #dbb50a;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.glutenFreeSalty{
  background-image: url('./background/glutenfreesaltybg.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.glutenFreeSaltyRecipies{
  background-image: url('./background/glutenfreeSaltyrecipies.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.fish{
  background-image: url('./background/fishbg.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.fishnav{
  background-color: #6e0d3f;
}

.dropdown-menu-fish {
  background-color: #c40d6e;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fishRecipies{
  background-image: url('./background/fishrecipies.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.VegetarianSalty{
  background-image: url('./background/vegetarianSaltybg.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.vnavsalty{
  background-color: #0c6e5a;
}

.dropdown-menu-vegetariansalty {
  background-color: #0f987c;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vsaltyRecipies{
  background-image: url('./background/vegetarianSaltyrecipies.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.vgsaltybg{
  background-image: url('./background/VeganSaltybg.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.vgsaltyRecipies{
  background-image: url('./background/veganSaltyRecipies.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.vgsaltynav{
  background-color: #0c6e3f;
}

.dropdown-menu-vegansalty {
  background-color: #e24f58;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cookies{
  background-image: url('./background/dessertbg.svg');
  background-repeat: no-repeat;
  background-size: cover;

}

.salty{
  background-image: url('./background/saltybg.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.cookiesrecipies{
  background-image: url('./background/cookiesrecipies.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.navcookies{
  background-color: #052910;
}

.ImageC{
  position: relative;
  bottom: -200px ;
  left: -200px;

  justify-content: center;
  align-items: center;
  height: 30vh;
}

.flextag{
  position: relative;
  bottom: +20px ;
  right: -300px;


  justify-content: center;
  align-items: center;
  height: 30vh;

}

.flex-item {
  padding: 10px;
}

.image-caption-container{
  position: relative;
  bottom: -500px ;
  left: +160px;
  display: flex; /* Set the flex display to vertically align the image and caption */
  flex-direction: column; /* Stack the image and caption vertically */
  align-items: center; /* Center the items horizontally within the container */
  text-align: center; 

}

.vertical-line {
  border-left: 1px solid black;
  height: 300px; /* Adjust the height as needed to match the height of your images */
  margin: 30px; /* Adjust the margin to control the spacing between the line and images */
}

.image-caption-container .Image {
  /* Set the max width and max height for the images */
  max-width: 100%; /* This will make sure the images scale down to their container's width */
  max-height: 250px; /* Set a fixed max height for the images (adjust this value as needed) */
}

figcaption {
  margin-top: 10px; /* Add spacing between the image and caption */
  font-size: 16px; /* Adjust the font size as needed */
  font-weight: bold; /* Set the font weight to bold or adjust as needed */
  color: #333; /* Set the font color (adjust the hex code or use color names) */
  text-align: center;
}

.backgroundC{
  background-color: #f0f0f0; /* Background color for the flex items */
  /* padding: 40px; /* Adjust padding as needed */
  /* margin: 10px;
  width: 20%; */ 
  border-radius: 10px;

}

.black-box{
  position: relative;
  top: 50%;
  left: 33%;
  transform: translate(-30%, -30%);
  background: rgba(183, 126, 183, 0.423);
  width: 2000px;
  border-radius: 10px;
  height: 500px;
}

.backgroundC:hover{
  transform: scale(1.1);
}

.Image:hover{
  transform: scale(1.1);
}

.backgroundC::before {

  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.5); /* Background color for overlay */
  opacity: 0;
  transition: opacity 0.3s ease; /* Smooth transition effect */
}

.Image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30vh;
  background-color: rgba(0, 0, 0, 0.5); /* Background color for overlay */
  opacity: 0;
  transition: opacity 0.3s ease; /* Smooth transition effect */
  z-index: -1;
}

.backgroundC:hover::before {
  opacity: 1;
}

.ImageC:hover::before {
  opacity: 1;
}


.Image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: auto;
  transition: background-color 0.3s ease;

}

.Image img{
  transition: opacity 0.3s ease;
}

.Image:hover img{
  opacity: 0.7;
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-container img {
  max-width: 100%;
  height: auto;
}

button {
  padding: 10px;
  margin: 0 15px;
}


.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: rgba(242, 230, 190, 0.504);
  padding: 10px;
  width: 70%;
  height: 70%;
  border-radius: 10px;
}

.popup-content h2 {
  margin-top: 0;
}

.popup-content p {
  margin-bottom: 20px;
}

.popup-content button {
  cursor: pointer;
}

.dropdown-menu-cookies {
  background-color: #0f6e9e;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.carousel__btn {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.carousel__btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel__images {
  flex: 1;
  overflow: hidden;
}

.carousel__image {
  max-width: 70%;
  transition: transform 0.5s ease;
}

/* Recipe.module.css or your global CSS file */
.carousel__frame.frame-1 {
  /* Styling for the first image's frame */
  background-color: rgba(128, 0, 128, 0.7); /* Purple frame */
}

.carousel__frame.frame-2 {
  /* Styling for the second image's frame */
  background-color: rgba(0, 128, 128, 0.7); /* Teal frame */
}

.carousel__frame.frame-3 {
  /* Styling for the third image's frame */
  background-color: rgba(128, 128, 0, 0.7); /* Olive frame */
}

/* Add more frame styles as needed for each image */


.cookie-wrapper{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-42%, +200%);
  z-index: 1;
  width: 100%;
  height: 100%;

}

.chockcookie{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 30%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.doublechock{
  background-image: url('./background/doublechock.jpeg');
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 30%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.cinnamon{
  background-image: url('./background/cinnamon.jpeg');
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 30%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.image-container {
  position: absolute;
  width: 100%;
  height: 100%;

}



.gfsweetnav{
  background-color: #7e620c;
}

.dropdown-menu-glutenfreesweet {
  background-color: #dbb50a;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.GfsweetRecipies{
  background-image: url('./background/gfsweetrecipies.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.gfsweetbg{
  background-image: url('./background/gfsweetbg.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.vsweetnav{
  background-color: #cf02ad;
}

.dropdown-menu-vsweet{
  background-color: #a1ceb1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vsweetRecipies{
  background-image: url('./background/VSweetrecipies.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.vsweetbg{
  background-image: url('./background/VSweetbg.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.vgsweetnav{
  background-color: #069054;
}

.dropdown-menu-vgsweet {
  background-color: #3c1a6a;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vgsweetRecipies{
  background-image: url('./background/vgsweetrecipies.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.vgsweetbg{
  background-image: url('./background/vgsweetbg.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.minnav{
  background-color: #6e510c;
}

.dropdown-menu-20min {
  background-color: #ca7a09;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.min{
  background-image: url('./background/20minbg.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.minRecipies{
  background-image: url('./background/20minrecipies.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.spicybg{
  background-image: url('./background/spicybg.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.spicyrecipies{
  background-image: url('./background/spicyrecipies.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.spicynav{
  background-color: #a70d0d;
}

.dropdown-menu-spicy {
  background-color: #ff1010;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.dropdown-menu-summer {
  background-color: #ca0909;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.summerbg{
  background-image: url('./background/summerbg.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.summerrecipies{
  background-image: url('./background/summerrecipies.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.summernav{
  background-color: #1500ff;
}